@use 'base/variables' as v;
@use 'base/mixins' as m;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    color: v.$mandrake;
    background-color: v.$dr-white;
    font-family: v.$body-font;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    position: relative;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: v.$body-font;
}

h1 {
    color: v.$spinel_stone_black;
    text-align: center;
    font-weight: 900;
    line-height: 44px;
}

h2 {
    color: v.$spinel_stone_black;
    font-weight: 900;
    line-height: 36px;
}

.container {
    min-width: 32.7rem;
    max-width: 111rem;
    margin: 0 2.4rem 0 2.4rem;
}