@use 'base/variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

/* Buttons */
@mixin button($bg, $hover: $bg, $text, $br, $color_span: v.$dr-white) {
    all: unset;
    padding: 1.6rem 4rem;
    background-color: $bg;
    color: $text;
    border-radius: $br;
    font-weight: 900;
    line-height: 26px;

    @include desktop{
        &:hover {
            background-color: $hover;
            cursor: pointer;
        }
    }

    & span {
        color: $color_span;
    }
}