/* Fonts */
$body-font: 'Red Hat Display', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Primary Colors */
$acapulco_cliffs: #4D96A9;
$lusty_lavender: #855FB1;
$spinel_stone_black: #28283D;
$mandrake: #87879D;

/* Neutral */
$silverpine_cyan: #8FE3F9;
$lavender_fragrance: #D9B8FF;
$dr-white: #FAFAFA;

/* Hover State */
$surfin: #71C0D4;
$middys_purple: #B18BDD;