@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    position: absolute;
    bottom: -400px;
    background: linear-gradient(rgba(v.$acapulco_cliffs, .8955), rgba(v.$acapulco_cliffs, .8955)), url(../img/mobile/image-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 9.2rem 2.4rem 7.2rem 2.4rem;
    z-index: -1;

    @include m.tablet{
        bottom: -400px;
        background: linear-gradient(rgba(v.$acapulco_cliffs, .8955), rgba(v.$acapulco_cliffs, .8955)), url(../img/tablet/image-footer.jpg);
        padding: 9.2rem 9.8rem 6.6rem 9.7rem;
    }

    @include m.desktop{
        width: 100%;
        // height: 30.8rem;
        bottom: -280px;
        background: linear-gradient(rgba(v.$acapulco_cliffs, .8955), rgba(v.$acapulco_cliffs, .8955)), url(../img/desktop/image-footer.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 11.6rem 16.5rem 10.4rem 16.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.desktop{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: end;
        }
    }

    &__heading {
        color: v.$dr-white;
        font-size: 3.2rem;
        text-align: center;

        @include m.tablet{
            width: 45.7rem;
            font-size: 4rem;
            line-height: 44px;
        }

        @include m.desktop{
            width: auto;
            text-align: left;
        }
    }

    &__description {
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
        color: v.$dr-white;
        font-size: 1.8rem;
        text-align: center;

        @include m.tablet{
            margin-top: 3.2rem;
            margin-bottom: 4rem;
        }

        @include m.desktop{
            text-align: left;
            width: 35rem;
            margin: 0;
        }
    }

    &__button {
        @include m.button(v.$lusty_lavender, v.$middys_purple, v.$dr-white, 2.9rem, v.$lavender_fragrance);

        @include m.desktop{
            width: max-content;
        }
    }
}