 @use 'base/variables' as v;
@use 'base/mixins' as m;

.gallery {

    margin-top: 6.4rem;

    @include m.tablet{
        margin-top: 6.7rem;
    }

    @include m.desktop{
        margin: 6.4rem auto 0;
    }

    &__pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        row-gap: 2.4rem;

        @include m.tablet{
            grid-template-columns: repeat(4, 1fr);
            gap: 1.1rem;
        }

        @include m.desktop{
            gap: 3rem;
        }

        & img {
            border-radius: .8rem;
        }
    }

    &__description {
        margin-top: 6.4rem;
        text-align: center;

        @include m.tablet{
            margin-top: 4.8rem;
        }

        @include m.desktop{
            margin-top: 8rem;
        }
    }

    &__overline {
        color: v.$acapulco_cliffs;
        font-weight: 900;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__heading {
        font-size: 3.2rem;
        margin-top: 2.4rem;

        @include m.tablet{
            margin: 0 auto;
            width: 44.5rem;
            font-size: 4rem;
            margin-top: 1.6rem;
            line-height: 44px;
        }
    }

    &__text {
        margin-top: 3.2rem;

        @include m.desktop{
            width: 54rem;
            margin: 3.2rem auto 0;
            font-size: 1.8rem;
        }
    }
}