@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    margin-top: 4.8rem;
    align-items: center;

    @include m.desktop{
        margin-top: 8rem;
    }

    &__logo {
        height: 2.8rem;
        text-align: center;
        margin-bottom: 5.4rem;

        @include m.tablet{
            margin-bottom: 6.4rem;
        }

        @include m.desktop{
            margin-bottom: 6.1rem;
        }
    }

    &__hero {
        display: flex;
        flex-direction: column;

        @include m.desktop{
            height: 35.8rem;
            background: url(../img/desktop/image-hero-left.png), url(../img/desktop/image-hero-right.png);
            background-position: top left, bottom right;
            background-repeat: no-repeat;
            background-size: 26%;
            padding: 4.7rem 0 .7rem 0;
        }
    }

    &__bubbles {
        height: 15.3rem;
        background: url(../img/tablet/image-hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 4.8rem;

        @include m.tablet{
            height: 30.3rem;
            margin-bottom: 7.2rem;
        }

        @include m.desktop{
            display: none;
        }
    }

    &__cto {

        @include m.tablet{
            margin: 0;
            padding: 0 15.5rem;
            text-align: center;
        }

        @include m.desktop{
            margin: 0 auto;
        }
    }

    &__heading {
        font-size: 4rem;
        margin-bottom: 2.4rem;

        @include m.tablet{
            margin: 0 auto 2.4rem;
            text-align: center;
            width: 33.9rem;
            font-size: 4.8rem;
            line-height: 48px;
        }

        @include m.desktop{
            margin: 0 auto 3.4rem;
            width: 44.5rem;
            font-size: 6.4rem;
            line-height: 64px;
        }
    }

    &__tagline {
        text-align: center;
        margin-bottom: 3.2rem;

        @include m.desktop{
            width: 54rem;
            font-size: 1.8rem;
        }
    }

}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    @include m.tablet{
        flex-direction: row;
        justify-content: center
    }

    &__download {
        @include m.button(v.$acapulco_cliffs, v.$surfin, v.$dr-white, 2.9rem, v.$silverpine_cyan);
    }

    &__whats {
        @include m.button(v.$lusty_lavender, v.$middys_purple, v.$dr-white, 2.9rem);
    }
}