@use 'base/variables' as v;
@use 'base/mixins' as m;

.numbers {
    display: grid;
    place-items: center;
    margin-top: 6.4rem;

    @include m.tablet{
        margin-top: 8rem;
    }

    @include m.desktop{
        margin-top: 11.7rem;

        &--alt {
            margin-top: 7.2rem;
        }
    }

    &__line {
        width: .1rem;
        height: 8.4rem;
        border: 1px solid v.$mandrake;
        opacity: .25;
    }

    &__number {
        display: grid;
        place-items: center;
        background-color: v.$dr-white;
        width: 5.6rem;
        height: 5.6rem;
        border: 1px solid rgba(v.$mandrake, .25);
        border-radius: 50%;
        font-weight: 900;
    }
}